.App {
  width: 100%;
  height: 100%;
}

.container, .header {
  margin: auto;
  text-align: center;
  padding-top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  align-items: center;
}

.container .header img {
  width: 30%;
  margin-bottom: 20px;
}

.ket {
  font-size: 12pt;
  padding: 5px;
  border: 1px dashed;
  border-radius: 10px;
  margin: 5px;
}

.header {
  width: 100%;
}

.container h1 {
  font-size: 20pt;
  font-weight: bold;
}

.footer {
  height: 60px;
  text-align: center;
}

.footer a {
  font-weight: bold;
  color: rgb(66, 66, 66);
}

.footer a:hover {
  color: black;
}

form {
  width: 70%;
  display: block;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #a6a6a6;
  background: none;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 12pt;
  transition: .3s;
}

input[type="text"]:focus {
  border-bottom: 2px solid #1abc9c;
  margin-bottom: 14px;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder { 
  font-weight: 100;
  color: rgb(187, 187, 187, .3)
}

@media only screen and (max-width: 500px) {
  .container, .header {
    display: block;
    width: 90%;
  }

  .header {
    display: flex;
    margin: auto;
  }
}